*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



[class^='col-'] {
  float:left;
  padding:0;
  text-align: center;
}

.col-1of3 {
	display: block;
	width:33%;
	float:left;
}


.col-2of3 {
	display: block;
	width:66%;
	position:relative;
	float:left;
}


.col-3of3 {
	display: block;
	width:100%;
	position:relative;
}

.col-1of2{
	display: block;
	width:50%;
	position:relative;
	float:left;
}

@media(max-width: 60em) {
	.col-1of3 {
		width:50%;
	}
}


@media(max-width: 30em) {
	.col-1of3, .col-2of3, .col-1of2 {
		width:100%;
	}



}


