<div class="content-container">
	<div class="project-title col-3of3">
		<img src="img/brainshield.png" alt="brainshield">
		<h1>BrainShield</h1>
	</div>

	<div class="project-content">

		<iframe src="https://www.youtube.com/embed/zz-n3cooH0M" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<h2>BrainShield</h2>
		<p>BrainShield is the first of it's kind functional decal made of micro-engineered layers that diverts angled impacts and improve helmet performance. Our team made a video for BrainShield in order to promote this product to the market.</p>

		<h3>My Role</h3>
		<p>For this project, my team and I went to interview all the interviewees which includes setting up the cameras, mics, and lighting. Post interview, I edited the video in Premiere Pro and made sure it transitions smoothly. I also took pictures of helmet stills and other B-Rolls for the video.</p>

		<div class="col-1of2 skills">
			<h3>Collaborators</h3>
			<p>Vivian Lau</p>
			<p>Daniel Cheng</p>
			<p>Ronald Chan</p>

		</div>

		<!-- <div class="col-1of3 skills">
			<h3>My Role</h3>
			<p>Web Developer</p>
			<p>Team Co-ordinator</p>
			<p>Videography</p>
		</div> -->

		<div class="col-1of2 skills">
			<h3>Skills Used</h3>
			<p>Illustrator</p>
			<p>Photoshop</p>
			<p>Aftereffects</p>
			<p>Premiere Pro</p>
			<p>HTML/CSS</p>
		</div>

		<a href="img/brainshield/brainshieldweb.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/brainshieldweb.jpg" alt="brainshield">
		</a>




		<a href="img/brainshield/layers.gif" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/layers.gif" alt="brainshield">
		</a>



		<h2>Interviews and B-Rolls</h2>
		<p>Throughout this project, we have interviewed with many different people, including football coaches, professors, athletes, and sports enthusiasts</p>

		<p>We also went to many different places to film B-Rolls including hiking trails, parks, empty roads. One of the most exciting things we did was filming a motorcyle rider. Finding a location and chasing the motorcycle while keeping the camera stable was very difficult, but also rewarding.</p>




		<h2>Process Shots</h2>

		<a href="img/brainshield/process/p-shot5.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot5.jpg" alt="brainshield">
		</a>


		<a href="img/brainshield/process/p-car1.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-car1.jpg" alt="brainshield">
		</a>

		<a href="img/brainshield/process/p-car2.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-car2.jpg" alt="brainshield">
		</a>

		<a href="img/brainshield/process/p-shot1.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot1.jpg" alt="brainshield">
		</a>

		<a href="img/brainshield/process/p-shot6.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot6.jpg" alt="brainshield">
		</a>




		<a href="img/brainshield/process/p-shot2.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot2.jpg" alt="brainshield">
		</a>
		<a href="img/brainshield/process/p-shot7.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot7.jpg" alt="brainshield">
		</a>

		<a href="img/brainshield/process/p-shot3.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot3.jpg" alt="brainshield">
		</a>

		<a href="img/brainshield/process/p-shot4.jpg" data-lightbox="brainshield" data-title="">
			<img class="project-pictures" src="img/brainshield/process/p-shot4.jpg" alt="brainshield">
		</a>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
	</div>
</div>
