<div class="content-container">
	<div class="project-title col-3of3">
		<img alt="codecorelogo" src="img/codedrillz.png">
	</div>

	<div class="project-content">

		<div class="project-wrapper">
				<h2>Codedrillz</h2>
				<p>A team project built over a 72 hour period for users to test their skills in coding which utilizes a point-based design for increased motivation. Built on Rails, Bootstrap, and jQuery. An emphasis was put towards GitHub collaboration and version control.
					My responsibilities included the website design using illustrator and front-end coding using jQuery and Bootstrap.</p>
		</div>

		<div class="project-wrapper">
			<div class="col-1of2 skills">
				<h3>Collaborators</h3>
				<p>Amir Nabaei</p>
				<p>Sanny Trinh</p>
				<p>Colin Nebocat</p>
				<p>Allain Era</p>
				<p>Srinivas Rao</p>
				<p>Jackie Ellenberger</p>
			</div>

			<div class="col-1of2 skills">
				<h3>Skills Used</h3>
				<p>Photoshop</p>
				<p>Illustrator</p>
				<p>HTML/CSS/JQuery</p>
				<p>Ruby on Rails</p>
			</div>
		</div>

			<a class="redirectButton" href="https://github.com/jshchui/ROF">Github</a>

		<div class='project-content-img-spacing'>

			<a href="img/codedrillz/10.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/10.jpg" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/codedrillz/9.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/9.jpg" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/codedrillz/8.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/8.jpg" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/codedrillz/7.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/7.jpg" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/codedrillz/6.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/6.jpg" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/codedrillz/4.jpg" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/codedrillz/4.jpg" alt="solution">
			</a>
		</div>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
	</div>
</div>
