<div class="content-container">
	<div class="project-title col-3of3">
		<img class="me" alt="myphoto" src="img/me.png">
		<h1>Jackie Chui</h1>
	</div>

	<div class="project-content">
		<div class="col-2of2">
		<h2>Hey There!</h2>
		<p>
			I am a design student graduate from Simon Fraser University Majoring in the School of Interactive Arts and Technology. I am motivated to work in the areas of User Experience and User Interface Design along with branding and how it could be translated into gaming or everyday life.
		</p>

		<p>
			Outside of design, I enjoy wondering why I lost my last League of Legends game and browsing about new technology, games, and creative designs especially on Kickstarter!
		</p>

		<p>
			Please take a look at my <a href="img/resume.pdf">Resume</a>.
		</p>

		<p>If you would like to collaborate or just have a chat, feel free to contact my E-mail or Phone!</p>
		<p>E-mail: jshchui@gmail.com</p>
		<p>Phone: 778-926-5883</p>


		</div>

		<!--
		<div class="col-1of2">
			<h2>Contact Me!</h2>
			<p>Name:</p><input type="text" title="name" class="input" placeholder="">
			<p>E-mail:</p><input type="text" title="email" class="input" placeholder="">
			<p>Message:</p><textarea title="message" class="textarea" placeholder=""></textarea>

			<a class="button" href="#">submit</a>
		</div>
		-->

	</div>
</div>
