<div class="content-container">
	<div class="project-title fanswifibanner col-3of3">
		<img alt="fanswifi" src="img/fanswifi.png">
		<%# <h1>FansWifi</h1>%>
	</div>

	<div class="project-content">


		<%# <img class="project-pictures" src="img/solution/solution.jpg" alt="maserati">%>

		<div class="project-wrapper">
			<%# <div class="col-1of2">%>
				<h2>FansWifi website redesign</h2>
				<p>Fanswifi is a compnay that provides their clients with social wifi hotspot platforms, allowing them to gather valuable insights about their customers so they could bring them back.</p>
				<p>For their exhibition in Singapore, I was tasked with the redesign and creation of their website so their clients can easily understand the service and values of what FansWifi can offer.</p>
			<%# </div>%>
		</div>

		<div class="project-wrapper">

			<%# <div class="col-1of2">%>
				<div class="skills">
					<h3>Skills Used</h3>
					<p>Photoshop</p>
					<p>Illustrator</p>
					<p>HTML/CSS/JQuery</p>
				</div>
			<%# </div>%>
		</div>

		<div class='project-content-img-spacing'>

			<a href="img/fanswifi/homescreen.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/homescreen.JPG" alt="solution">
			</a>
			<h3>HomePage</h3>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/whois.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/whois.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/customer.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/customer.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/product.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/product.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/whitelabeling.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/whitelabeling.JPG" alt="solution">
			</a>
		</div>






		<a href="http://www.fanswifi.com/index.html">
			Visit Site
		</a>



		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>

	</div>
</div>
