<div class="content-container">
	<div class="project-title fanswifibanner col-3of3">
		<img alt="fanswifi" src="img/fanswifi.png">
	</div>

	<div class="project-content">

		<div class="project-wrapper">
				<h2>FansWifi website redesign</h2>
				<p>Fanswifi is a social, wifi hotspot platform with built in analytics for market insight, allowing their clients to gather valuable insights about their customers.</p>
				<p>For their exhibition in Singapore, I redesigned and developed their website to clearly articulate business values to their clients.</p>
		</div>

		<div class="project-wrapper">
			<div class="skills">
				<h3>Skills Used</h3>
				<p>Photoshop</p>
				<p>Illustrator</p>
				<p>HTML/CSS/JQuery</p>
			</div>

			<a class="redirectButton" href="http://www.fanswifi.com/">Site</a>
		</div>

		<div class='project-content-img-spacing'>

			<a href="img/fanswifi/homescreen.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/homescreen.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/whois.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/whois.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/customer.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/customer.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/product.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/product.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/fanswifi/whitelabeling.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/fanswifi/whitelabeling.JPG" alt="solution">
			</a>
		</div>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
	</div>
</div>
