<div class="content-container">
	<div class="project-title col-3of3">
		<img src="img/lightcubes.png" alt="nauticalcatslogo">
		<h1>Lightcubes</h1>
	</div>

	<div class="project-content">

		<iframe src="https://player.vimeo.com/video/92821987" title="videotrailer"></iframe>
		<p>Please check out our <a href="https://iat337lightcube.wordpress.com/">team blog</a> for a more indepth look of the process, configurations, and models!</p>

		<h2>Lightcubes</h2>
		<p>Lightcubes is a concept/prototype for an interactive sculpture which monitors outside lighting conditions and provides a kinetic display of reflected light, which has a variant visibility dependent on the amount of artificial lighting within a room. The goal is to provide awareness of using energy for artifical light when natural light outside is already sufficient.</p>


		<div class="col-1of3 skills">
			<h2>Collaborators</h2>
			<p>Karen Ho</p>
			<p>Amanda Mutsaerts</p>
			<p>Yiyi Xu</p>
		</div>

		<div class="col-1of3 skills">
			<h2>My Role</h2>
			<p>Laser Cut Drafting</p>
			<p>3D Modeler</p>
			<p>Physical Prototyping</p>
			<p>Ideation</p>
		</div>

		<div class="col-1of3 skills">
			<h2>Skills Used</h2>
			<p>Illustrator</p>
			<p>Corel Draw</p>
			<p>Solid Works</p>
		</div>


		<a href="img/lightcubes/1.jpg" data-lightbox="lightcubes" data-title="">
			<img class="project-pictures" src="img/lightcubes/1.jpg" alt="lightcubes">
		</a>

		<h3>Technology and Usage</h3>
		<p>This installation is meant to be placed across from a large window to reflect the light source coming through the window through movement and light reflections. The movement of the suclture is controlled by the amount of light coming in through the windows of the room. It is monitored with a light sensor and controlled with an arduino and servomotor.</p>

		<p>As more light enters the room, the sculpture will move faster and appears as if it is dancing, and when it slows down, it appears as though it is struggling to move the whole structure. This representation of natural light coming in from outside also provides a reflective and artistic aspect through the reflecting surfaces. The reflections can barely be seen if there is artificial light being used within the room, which promotes a discrete aweareness to relying on artificial light when natural light is available.</p>


		<h3>Poster</h3>
		<a href="http://www.sfu.ca/~sca136/POSTER.jpg">
			<img class="project-pictures" src="img/lightcubes/POSTER.jpg" alt="lightcubeposter">
		</a>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
	</div>
</div>
