<div class="content-container">
	<div class="project-title col-3of3">
		<img src="img/maserati.png" alt="maserati">
		<h1>Maserati Service App</h1>
	</div>

	<div class="project-content">

		<a href="img/maserati/app.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/app.jpg" alt="maserati">
		</a>

		<h2>Maserati Service App</h2>
		<p>The Maserati Service App is an application for young Maserati owners (ages 25-40) which allows them to experience the personalized luxary post-sales service in order to increase brand loyalty and result in future return purchases and sustainable business growth.</p>

		<h3>My Role</h3>
		<p>Maserati Service was a project done in four weeks. My team and I went to the Maserati Dealership to get information about their problems. Throughout the project, I was incharge of the ideation process and interactions of the interface, along with some motion graphics. I also filmed and edited the video that introduces our interface with Aftereffects.</p>


		<div class="col-1of2 skills">
			<h3>Collaborators</h3>
			<p>Sherry Bi</p>
			<p>Amanda Mutsaerts</p>
			<p>Nicholas Doering</p>
			<p>Eshine Peng</p>
		</div>

		<!-- <div class="col-1of3 skills">
			<h3>My Role</h3>
			<p>Aftereffects</p>
			<p>Ideation</p>
			<p>Videography</p>
		</div> -->

		<div class="col-1of2 skills">
			<h3>Skills Used</h3>
			<p>Illustrator</p>
			<p>Photoshop</p>
			<p>Aftereffects</p>
		</div>

		<iframe src="https://player.vimeo.com/video/137933800" title="videotrailer"></iframe>

		<h3>Business Problem</h3>

		<p>The core problem within Maserati is the lack of brand loyalty among younger generation customers due to lack of post-sale service. This results in lack of return and potential purchases.</p>

		<p>Through research and asking questions from Maserati Dealerships, their sales for Maserati was fine, but the main problem was that customers tend to switch into another brand due to lack of service after the purchase.</p>

		<a href="img/maserati/audience.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/audience.jpg" alt="maserati">
		</a>

		<h3>Opening</h3>
		<a href="img/maserati/opening.png" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/opening.png" alt="maserati">
		</a>

		<h3>The Service</h3>
		<p>The idea of Maserati Service is to have everything about their Maserati (Car Maintenance, Appointments, Scheduling) easily taken care of for the customer. Customers will be notified when their car is in need of service with actionable information. Maserati Service also allow customers to schedule and remind them of appointment along with pickup and drop off service for the vehicle so that it is not mandatory to visit the maintenance shop. Payment is also done in the application with the service history saved. </p>

		<h3>Journey Framework</h3>
		<p>We made a journey framework for Maserati Service to speculate how customers will use and what they will think when they use the application.</p>

		<a href="img/maserati/jf1.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/jf1.jpg" alt="maserati">
		</a>

		<a href="img/maserati/jf2.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/jf2.jpg" alt="maserati">
		</a>

		<a href="img/maserati/jf3.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/jf3.jpg" alt="maserati">
		</a>

		<a href="img/maserati/jf4.jpg" data-lightbox="maserati" data-title="">
			<img class="project-pictures" src="img/maserati/jf4.jpg" alt="maserati">
		</a>


		<h3>Slides</h3>
		<a href="img/maserati/maserati-service.pdf">
			Link to our slides
		</a>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>

	</div>
</div>
