<div class="content-container">
	<div class="project-title col-3of3">
		<img src="img/nauticalcats.png" alt="nauticalcatslogo">
		<h1>Nautical Cats</h1>
	</div>

	<div class="project-content">

		<a href="img/nauticalcats/nauticalhomepage.jpg" data-lightbox="nauticalcats" data-title="">
			<img class="project-pictures" src="img/nauticalcats/nauticalhomepage.jpg" alt="nautocal cats startscreen">
		</a>

		<h2>Nautical Cats</h2>
		<p>Nautical Cats is a 2-D platformer player vs player (PVP) capture the fish game. The essential idea behind the game is for players to collect more Fish than their opponents before the time runs out.</p>


		<h3>My Role</h3>
		<p>In Nautical Cats, I was in charge of designing the mechanics of the game, along with the characters and the maps. I was also in charge of coding a early prototype and also did all the animations in the game.</p>

		<!-- <div class="col-1of2 skills">
			<h3>My Role</h3>
			<p>Team Manager</p>
			<p>Animator</p>
			<p>Game Designer</p>
		</div> -->



		<div class="col-1of2 skills">
			<h3>Collaborators</h3>
			<p>Bobby Soetarto</p>
			<p>Louie Liu</p>
			<p>Janelynn Chan</p>
		</div>

		<div class="col-1of2 skills">
			<h3>Skills Used</h3>
			<p>Illustrator</p>
			<p>Photoshop</p>
			<p>Unity</p>
		</div>

		<iframe src="https://player.vimeo.com/video/113327899" title="videotrailer"></iframe>

		<h3>Overview</h3>
		<p>The initial task for us was to create a fun and intriguing game along with a proper <strong>core loop</strong> (chain of actions that players does in the game), <b>Smart Depth</b> (mechanics and strategy within the game), and <b>UI</b> (User Interface).</p>

		<p>Due to limited time and resources, our team decided to do a multiplayer game because games are just more fun with friends and other people. Playing with friends creates tension, competition, and most importantly, laughter.</p>

		<h3>Basic Instructions</h3>
		<p>Each player starts off with 3 fishes in their chest and one fish will spawn in the middle of the map, where the players would have to battle it out and sabotage enemy player's chest in order to bring back more fishes to their own respective chests.</p>

		<a href="img/nauticalcats/nauticalhowtoplay.jpg" data-lightbox="nauticalcats" data-title="">
			<img class="project-pictures" src="img/nauticalcats/nauticalhowtoplay.jpg" alt="tutorial">
		</a>

		<a href="img/nauticalcats/nauticalvs.jpg" data-lightbox="nauticalcats" data-title="">
			<img class="project-pictures" src="img/nauticalcats/nauticalvs.jpg" alt="versus">
		</a>

		<h3>Core Loop and Smart Depths</h3>
		<p>Core loop in nautical cats consist of players obtaining fish, storing fish, and attacking/defending from the enemy. Strategy involves effectively using one of the four different cats in the game.</p>

		<p>Fat Cat: Slow and heavy, but has high health and a great throw</p>
		<p>Fast Cat: Weak and low health but runs fast</p>
		<p>Skinny Cat: Average health and speed but has a very high jump</p>
		<p>Stout Cat: Low speed, throw distance, and health, but boast a strong attack</p>

		<h3>Controls</h3>

		<a href="img/nauticalcats/controls.png" data-lightbox="nauticalcats" data-title="">
			<img class="project-pictures" src="img/nauticalcats/controls.png" alt="controls">
		</a>

		<h3>Maps</h3>

		<div class="maps">
			<p>Whale Island: Consist of a whale that dives or spouts at random times</p>

			<a href="img/nauticalcats/whale.jpg" data-lightbox="nauticalcats" data-title="">
				<img class="project-pictures" src="img/nauticalcats/whale.jpg" alt="whalemap">
			</a>

			<p>Nautical Falls: Consist of a river that actively tries to pull you down in the depths.</p>

			<a href="img/nauticalcats/fall.jpg" data-lightbox="nauticalcats" data-title="">
				<img class="project-pictures" src="img/nauticalcats/fall.jpg" alt="nauticalfallsmap">
			</a>

			<p>Icy Cliffs: Extra Slippery with raining icicles!</p>
			<a href="img/nauticalcats/ice.jpg" data-lightbox="nauticalcats" data-title="">
				<img class="project-pictures" src="img/nauticalcats/ice.jpg" alt="icemap">
			</a>
		</div>

		<h3>Try it</h3>
		<p>You can try the game however, the controls are different on PC and it unfortunately does not work on chrome. The web version currently supports only 2 players and will require a numpad.</p>

		<a href="img/nauticalcats/webplayer/webplayer.html">
			<h3>Play the game!</h3>
		</a>

		<div class="col-1of2 skills">
			<p>Controls P1:</p>
			<p>Jump : W </p>
			<p>Move Left : A </p>
			<p>Move Right : D </p>
			<p>Pick Up Fish : G </p>
			<p>Attack: H </p>
		</div>

		<div class="col-1of2 skills">
			<p>Controls P2:</p>
			<p>Jump : Up Arrow </p>
			<p>Move Left : Left Arrow </p>
			<p>Move Right : Right Arrow </p>
			<p>Pick Up Fish : Numpad 4 </p>
			<p>Attack: Numpad 5 </p>
		</div>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
		<!--
		<div class="related-projects">
			<h2>Related Projects</h2>
			<div class="related col-1of2">
				<a class="related-box" href="#">


					<img class="related-logos" alt="#" src="img/indigo.png">


					<p>Rediscover Indigo</p>

					<div class="line"></div>
					<p>UX/UI</p>
				</a>
			</div>
			<div class="related col-1of2">
				<a class="related-box" href="#">
					<img class="related-logos" alt="#" src="img/lightcubes.png">

					<p>Light Cubes</p>

					<div class="line"></div>
					<p>UX</p>
				</a>
			</div>
		</div> related projects -->


	</div>
</div>
