<div class="content-container">
	<div class="project-title col-3of3">
		<img src="img/palette.png" alt="nauticalcatslogo">
		<h1>Alessi Palette</h1>
	</div>

	<div class="project-content">

		<a href="img/palette/palettespinning1.gif" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/palettespinning1.gif" alt="palette">
		</a>

		<h2>Alessi Paint Palette</h2>
		<p>The Alessi Palette is a paint palette designed for Alessi after studying the works of a Italian industrial designer, Giulio Iacchetti. The palette combines aspects from two differentiating cultures, Italy and China, to represent the Italian Compnay Alessi and the fading culture in Vancouver Chinatown.</p>

		<h3>My Role</h3>
		<p>The Alessi Paint Palette was a project completed in two weeks. In the first week, my team and I researched about Alessi and the designer Giulio Iacchetti for inspirations. On the second week, along with designing and ideating the Palette with the group, I was in charge of the physical and digital (3D modeling) production of the project.</p>




		<div class="col-1of2 skills">
			<h3>Collaborators</h3>
			<p>Michaela Tsumura</p>
			<p>Emily Tso</p>
			<p>Naixin Zhang</p>
		</div>

		<!-- <div class="col-1of3 skills">
			<h3>My Role</h3>
			<p>3D Modeler</p>
			<p>Physical Modeler</p>
			<p>Ideator</p>
		</div> -->

		<div class="col-1of2 skills">
			<h3>Skills Used</h3>
			<p>Illustrator</p>
			<p>Photoshop</p>
			<p>Solid Works</p>
			<p>Maya</p>
		</div>

		<a href="img/palette/5.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/5.jpg" alt="palette">
		</a>




		<a href="img/palette/1.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/1.jpg" alt="palette">
		</a>

		<h2>Concept and Form</h2>
		<p>
		The palette was inspired from the reformation of Vancouver's Chinatown where many of it's buildings that brought the foundation of Chinese heritage and culture to Vancouver is slowly being replaced.</p>

		<a href="img/palette/facade.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/facade.jpg" alt="palette">
		</a>

		<p>The form of the paint palette was derived from the facade of the Green Buildling, one of the first and last remaining building still within Vancouver Chinatown. At the back of the palette is a triangular stand that represents the Green Building's inverted window while also providing comfort while holding the palette</p>

		<a href="img/palette/2.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/2.jpg" alt="palette">
		</a>


		<h2>Usage and Experience</h2>
		<p>
		We want our product to tell a story and the design of the palette replicates the story of Vancouver Chinatown. As paint is being used on the palette, it represents all the occurences and history that happened there. Once completed, the washing off of the palette represents the reformation of Chinatown, erasing away all the culture and history that was once an integral part of it's residence.</p>

		<a href="img/palette/3.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/3.jpg" alt="palette">
		</a>


		<h3>Manufacturing</h3>
		<p>Our team researched a couple of ways to produce the palette itself which includes metal stamping.</p>

		<a href="img/palette/4.jpg" data-lightbox="palette" data-title="">
			<img class="project-pictures" src="img/palette/4.jpg" alt="palette">
		</a>


		<h3>Slides</h3>
		<a href="img/palette/alessi-presentation.pdf">
			Check out the slides we made for the Alessi Palette.
		</a>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>

	</div>
</div>
