<div class="content-container">

			<div class="project-title col-3of3">

				<img src="img/selfbrand.png" alt="selfbrand">

				<h1>Self Branding</h1>

			</div>



			<div class="project-content">



				<a href="img/selfbrand/3.jpg" data-lightbox="selfbrand" data-title="">

					<img class="project-pictures" src="img/selfbrand/3.jpg" alt="selfbrand">

				</a>



				<h2>Self Branding Project</h2>

				<p>This is my own self branding project which acts as a platform to showcase my work as well as for me to apply/practice my skills in both design and code. Everything was made from scratch from designing of the template and coding of the site.</p>



				<h3>My Role</h3>

				<p>As part of my personal and self portfolio design, I wanted to create a very sleek and simple experience the moment people come onto the site. Designing was done with Photoshop / Illustrator and website coded with HTML/CSS/Javascript.</p>







				<!-- <div class="col-1of3 skills">

					<h3>My Role</h3>

					<p>Aftereffects</p>

					<p>Ideation</p>

					<p>Videography</p>

				</div> -->



				<div class="skills">

					<h3>Skills Used</h3>

					<p>Illustrator</p>

					<p>Photoshop</p>

					<p>HTML/CSS</p>

					<p>Javascript</p>

				</div>



				<a href="img/selfbrand/1.jpg" data-lightbox="selfbrand" data-title="">

					<img class="project-pictures" src="img/selfbrand/1.jpg" alt="selfbrand">

				</a>



				<a href="img/selfbrand/2.jpg" data-lightbox="selfbrand" data-title="">

					<img class="project-pictures" src="img/selfbrand/2.jpg" alt="selfbrand">

				</a>





				<a class="backtotop2" href="">

					<div class="backtotop">

					 <p>^</p>

					</div>

					<h2>Back To Top</h2>

				</a>
			</div>
		</div>
