<div class="content-container">
	<div class="project-title solutionbanner col-3of3"></div>

	<div class="project-content">
		<div class="project-wrapper">
			<h2>Solution Autolease Website Redesign</h2>
			<p>Soltuion Autolease is an automotive leasing company that provides vehicle sourcing and leasing service throughout the greater vancouver</p>
			<p>With the launching of their upcoming service known as "Solution LeaseClub", I helped them design and code a new website up to modern standards while also introducing their service to their customers.</p>

			<div class="skills">
				<h3>Skills Used</h3>
				<p>Photoshop</p>
				<p>HTML/CSS</p>
				<p>PHP</p>
			</div>

			<a class="redirectButton" href="http://www.solutionautolease.com">Site</a>
		</div>

		<div class="col-1of2">
			<h3>Old Front Page</h3>
				<a href="img/solution/oldsite1.jpg" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/oldsite1.jpg" alt="solution">
				</a>
		</div>

		<div class="col-1of2">
			<h3>New Front Page</h3>
				<a href="img/solution/newsite1.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/newsite1.JPG" alt="solution">
				</a>
		</div>

		<div class="col-1of2">
			<h3>Old About Page</h3>
				<a href="img/solution/oldsite2.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/oldsite2.JPG" alt="solution">
				</a>
		</div>

		<div class="col-1of2">
			<h3>New About Page</h3>
				<a href="img/solution/newsite2.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/newsite2.JPG" alt="solution">
				</a>
		</div>

		<div class="col-1of2">
			<h3>New Club Page</h3>
				<a href="img/solution/newsite3.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/newsite3.JPG" alt="solution">
				</a>
		</div>

		<div class="col-1of2">
			<h3>New Events Page</h3>
				<a href="img/solution/newsite4.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/solution/newsite4.JPG" alt="solution">
				</a>
		</div>

		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>
	</div>
</div>
