<div class="content-container">
	<div class="project-title col-3of3">
		<img alt="werewolf" src="img/werewolf.png">
		<%# <h1>FansWifi</h1>%>
	</div>

	<div class="project-content">


		<%# <img class="project-pictures" src="img/solution/solution.jpg" alt="maserati">%>

		<div class="project-wrapper">
			<%# <div class="col-1of2">%>
				<h2>Werewolf</h2>
				<p>Fanswifi is a compnay that provides their clients with social wifi hotspot platforms, allowing them to gather valuable insights about their customers so they could bring them back.</p>
				<p>For their exhibition in Singapore, I was tasked with the redesign and creation of their website so their clients can easily understand the service and values of what FansWifi can offer.</p>
			<%# </div>%>
		</div>

		<div class="project-wrapper">

			<%# <div class="col-1of2">%>
				<div class="skills">
					<h3>Skills Used</h3>
					<p>ReactJS</p>
					<p>Firebase Database and Cloud Functions</p>
					<p>Illustrator</p>
				</div>
			<%# </div>%>
		</div>

		<div class='project-content-img-spacing'>

			<a href="img/werewolf/TitleScreenDesktop.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/werewolf/TitleScreenDesktop.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/werewolf/GameRoomDesktop.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/werewolf/GameRoomDesktop.JPG" alt="solution">
			</a>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/DayTimeMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/DayTimeMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/GameRoomMobile2.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/GameRoomMobile2.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Died.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Died.JPG" alt="solution">
				</a>
			</div>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/VillagerMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/VillagerMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/SeerMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/SeerMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Werewolf.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Werewolf.JPG" alt="solution">
				</a>
			</div>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Lynch.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Lynch.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/SeerTest.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/SeerTest.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/WerewolfKill.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/WerewolfKill.JPG" alt="solution">
				</a>
			</div>
		</div>






		<a href="https://chat-d457d.firebaseapp.com/">
			Visit Site
		</a>



		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>

	</div>
</div>
