<div class="content-container">
	<div class="project-title werewolfbanner col-3of3">
	</div>

	<div class="project-content">

		<div class="project-wrapper">
			<h2>Werewolf</h2>
			<p>Werewolf is a web application adaption to the popular social game Werewolf and Mafia.</p>
			<p>Current there are 3 roles, the Werewolf, the Seer, and the Villagers. Every night each special role does an action hidden from players with different roles. The werewolves will select a person to kill and the seer will identify a role of a player.</p>
			<p>During day time, the villagers and the seer must do their best to uncover the werewolves and lynch them while the werewolves must eliminate all the villagers.</p>
		</div>

		<div class="project-wrapper">
			<div class="skills">
				<h3>Made with</h3>
				<p>ReactJS</p>
				<p>Firebase Realtime Database</p>
				<p>Firebase Cloud Functions</p>
				<p>Illustrator</p>
			</div>

			<a class="redirectButton" href="https://github.com/jshchui/werewolf">GitHub</a>
			<a class="redirectButton" href="https://chat-d457d.firebaseapp.com/">Site</a>
		</div>

		<div class='project-content-img-spacing'>

			<a href="img/werewolf/TitleScreenDesktop.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/werewolf/TitleScreenDesktop.JPG" alt="solution">
			</a>
		</div>

		<div class='project-content-img-spacing'>
			<a href="img/werewolf/GameRoomDesktop.JPG" data-lightbox="solution" data-title="">
				<img class="project-pictures" src="img/werewolf/GameRoomDesktop.JPG" alt="solution">
			</a>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/DayTimeMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/DayTimeMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/GameRoomMobile2.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/GameRoomMobile2.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Died.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Died.JPG" alt="solution">
				</a>
			</div>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/VillagerMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/VillagerMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/SeerMobile.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/SeerMobile.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Werewolf.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Werewolf.JPG" alt="solution">
				</a>
			</div>
		</div>

		<div class="flex">
			<div class='project-content-img-spacing'>
				<a href="img/werewolf/Lynch.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/Lynch.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/SeerTest.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/SeerTest.JPG" alt="solution">
				</a>
			</div>

			<div class='project-content-img-spacing'>
				<a href="img/werewolf/WerewolfKill.JPG" data-lightbox="solution" data-title="">
					<img class="project-pictures" src="img/werewolf/WerewolfKill.JPG" alt="solution">
				</a>
			</div>
		</div>


		<a class="backtotop2" href="">
			<div class="backtotop">
			 <p>^</p>
			</div>
			<h2>Back To Top</h2>
		</a>

	</div>
</div>
